certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
dbf-light==1.0.0
future==0.18.2
idna==2.10
ifaddr==0.1.7
loguru==0.5.3
numpy==1.19.5
opencv-python==4.5.1.48
psutil==5.8.0
pycbrf==1.1.0
python-dotenv==0.15.0
requests==2.25.1
urllib3==1.26.2
win32-setctime==1.0.3
yeelight==0.5.4
docopt==0.6.2
num2words==0.5.10
py-espeak-ng==0.1.8
PyAudio==0.2.11
pyttsx3==2.90
vosk==0.3.7
pyalsaaudio==0.9.0
